html {/*root element*/
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center; /* Centers horizontally */
    scroll-behavior: smooth;

}

body {

    font-size: 1rem;
    color:rgb(0, 0, 0);
    background-color: rgba(255, 76, 76, 0.754);
    width: 70vw;

}

main {
    height: 100vw;
}
    
header {
    background-color: red;
    background-image: url('../images/flag.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 70vw;
    height: 40vh;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: end; /*Centers vertically */
    text-transform: capitalize;
    margin-bottom: 0.5rem;
    
}

nav ul {
    background-color: rgba(0, 0, 0, 0.0);
   
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Makes items align horizontally */
    justify-content: center; /* Centers the navigation links */
    
    }


nav ul li {
    padding: 1rem 6rem;
    border-right: 0.1rem solid rgb(0, 0, 0); /* Vertical line */
}
        /* Remove border from last item */
nav ul li:last-child {
    border-right: none;
 }

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    font-weight: bold;
    transition: 0.3s;
}

a:hover {
    color: #ffffff;
}

h1{
    font-size: 4rem;
    text-transform: uppercase;
    margin-bottom: .5rem;
}

h2 {
    font-size: 2rem;
    text-transform: capitalize;
}

h3 {
    font-size: 1.5rem;
    text-transform: none;
}

#name, #email, #message {
    width: 100%; /* Makes the container full-width */
    max-width: 100%; /* Prevents overflow issues */
    height: 2rem;
}

#name {
    text-transform: capitalize;
}

#email {
    text-transform: lowercase;
}

#message {
    height: 5rem;
}

footer p {
    font-weight: bold;
    font-style: italic;
    text-align: right;
    font-size: 2rem;
    color: rgb(0, 0, 0);
}

<style>

    button {
        font-size: 5rem;
    }
    .button {
        font-size: 1.25rem; /* Adjust this value as needed */
      }
</style>