html {
    background-color: #E57373;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    color:rgb(0, 0, 0);
}

header {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 150vh;
    height: 100%;
    display: flex;
    justify-content: center; /* Centers horizontally */
    padding: 0; /* Removes extra padding inside */
    margin: -2rem; /* Offsets wrapper padding */
    width: calc(100% + 64px); /* Ensures full width */

}

h1 {
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
    font-size: 3rem;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-shadow: #000 0.1rem 0.1rem 0.2rem;
}

.container {
    position: relative;
    max-width: 500%;
    text-align: center;
}

.container img {
    width: 100%;
  }

h1 {

}

nav ul {
    list-style-type: none;
    display: flex; /* Makes items align horizontally */
    justify-content: center; /*Centers the navigation links */
    text-align: center;
     }


nav ul li {
    padding: 1rem 4rem;
    border-right: 0.1rem solid rgb(0, 0, 0); /* Vertical line */
}
      
nav ul li:last-child {
    border-right: none;  /* Remove border from last item */
 }

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    font-weight: bold;
    transition: 0.3s;
}

a:hover {
    color: #ffffff;
}

.wrapper {
    background-color: rgb(239, 156, 156);
    width: 150vh;
    padding: 2rem;
    margin: auto;
    position: relative;
}

h2 {
    font-size: 2rem;
    text-transform: capitalize;
}

#facts-list {
    margin-left: -1.75rem;
}

h3 {
    font-size: 1.5rem;
    text-transform: none;
}
   
.wrap-img {
    float: left;
    width: 200px;                               
    margin: 0 1.5rem 1rem 0; 
}

.contact-form {
    border: 2px solid #000;  /* 2px thick, solid black border */
    padding: 20px;            /* Optional: adds space between the border and the content */
 }

.text-box {
    width: 100%;             /* Makes the container full-width */
    max-width: 100%;         /* Prevents overflow issues */
    height: 2rem;
    font-size: 1.5rem;       
}

#name {
    text-transform: capitalize;
}

#email {
    text-transform: lowercase;
}

#message {
    height: 7rem;
    line-height: 1rem;     /* Match line-height to font-size to avoid centering */
    padding-top: .1rem;      /* Adjust as needed to push text toward the top */
    line-height: 1.5;     /* This sets the line spacing to 1.5 times the font size */
    resize: none;     /* Disables the resize handle */
}

label {
    font-size: 1rem;
    font-weight: bold;
}

#answer1, #answer2, #answer3 {
    transform: scale(1.5);
    margin: 1rem 1rem 0 0.5rem;
}

.button {
    font-size: 1.25rem;
    font-weight: bold;
}

footer p {
    text-align: right;
    font-size: 1rem;
    color: rgb(0, 0, 0);
}
