html {
    background-color: #ffffff;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth; /* Enables smooth scrolling */
    color: rgb(0, 0, 0);
}

.hdr-wrapper {
  background-color: #000000;
  padding: 15px 0 0 0;
  margin: 0;
  width: 100%;
  text-align: center;

}

.hdr-wrapper nav ul {
    list-style-type: none;
}

#logo {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 10px 0 0 0;
    width: 100px;
    height: 100px;
}

.hdr-container-1 {
  position: relative;
  background-color: #c68d00;
  margin: 0 15px 15px 15px;
  height: 170px;
  text-align: center;
  
}

.hdr-container-2 {
    position: relative;
    background-color: #000000;
  }

.hdr-container-1 nav ul li a {
    color: #000000;
}
.hdr-container-2 nav ul li a {
    color: #c78c06;
}
.hdr-wrapper nav ul li a {
    text-decoration: none;
}
.hdr-wrapper nav ul li a:visited {
    text-decoration: none;
}
.hdr-wrapper nav ul li a:hover{
    color: #ffffff; /* or another hover color */
}

.hdr-container-1 li {
    position: absolute;
    bottom: 0;
    left: calc(50% - 20px);
    margin: 0;
    padding: 0 0 20px 0;
}
.hdr-container-2 li {
    margin: 10px;
    padding: 10px;
}

#Search {
    width: calc(100% - 65px);
    height: 30px;
    padding: 0px;
    margin: 0 0 10px 0;
    

}
#mag {
    position: relative;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    background-color: #000000;
    color: #c78c06;
    border: #c78c06 1px solid;
    cursor: pointer;
}



@media screen and (min-width: 760px){
    .hdr-wrapper,
    .wel-wrapper,
    .abo-wrapper,
    .dig-wrapper,
    .mar-wrapper,
    .vid-wrapper,
    .web-wrapper,
    .pri-wrapper {
       max-width: 760px;
    }
}

.wel-wrapper {

    position: relative;
    background-image: url('../images/main-banner.jpg');
    background-size: cover; 
    display: flex;
}
.wel-wrapper h1 {
margin: 0px 10px 0 10px;
    font-size: 4em;
    font-weight: bold;
    line-height: 1.5;
    color: #ffffff;
}

.wel-wrapper p {
    color: #ffffff;
    line-height: 1.5;
    margin: 0px 10px 0 10px;
}

.wel-container {
    background-color: #00000074;
    margin: 65px 0 65px 0; 
    padding:25px 10px 5px 6px;
}

#con {
    background-color: #c78c06;
    color: #000000;
    width: 200px;
    height: 70px;
    margin: 10px;
    cursor: pointer;
    font-size: 1em;
}

.abo-wrapper {
    position: relative;
    background-color: #ffe6ac;
    padding: 15px 0;
    background-size: cover;

}

.abo-container {
    position: relative;
    background-image: url('../images/about-us.jpg');
    margin: 0 15px; 
    /* background-size: cover; */
    height: 370px;
    background-size: cover; 
    display: flex;
}

.abo-wrapper h2 {
    margin: 0px 15px 0 15px;
        font-size: 3em;
        font-weight: bold;
        line-height: 1.5;
        color: #000000;
    }
    
.abo-wrapper p {
        color: #000000;
        line-height: 1.5;
        margin: 0px 15px 0 15px;
    }





.our-h2 {
        margin: 25px 0 0 15px;
            font-size: 3em;
            font-weight: bold;
            line-height: 1.5;
            color: #000000;
            width: 760px;
        }
          




.dig-wrapper {
        position: relative;
        background-color: #ffe6ac;
        padding: 0;
        background-size: cover;
        margin: 15px;
    }
    .dig-wrapper h3 {
        margin: 0px 15px 0 15px;
        font-size: 2em;
        font-weight: bold;
        line-height: 1.5;
        color: #000000;
    }
    
.dig-wrapper p {
        color: #000000;
        line-height: 1.5;
        margin: 0px 15px 0 15px;
    }


            
.dig-container {

        background-image: url('../images/digital.jpg');
        margin: 0; 
        background-size: cover;
        width: 600px; 
        height: 500px;
     

    }



#dig {
            background-color: #000000;
            color: #ffffff;
            width: 160px;
            height: 70px;
            margin: 10px;
            cursor: pointer;
            font-size: 1em;
        }




        .mar-wrapper {
            position: relative;
            background-color: #ffe6ac;
            padding: 0;
            background-size: cover;
            margin: 15px;
        }
        .mar-wrapper h3 {
            margin: 0px 15px 0 15px;
            font-size: 2em;
            font-weight: bold;
            line-height: 1.5;
            color: #000000;
        }
        
    .mar-wrapper p {
            color: #000000;
            line-height: 1.5;
            margin: 0px 15px 0 15px;
        }
    
    
                
    .mar-container {
    
            background-image: url('../images/marketing.jpg');
            margin: 0; 
            background-size: cover;
            width: 700px; 
            height: 500px;
         
    
        }
    
    
    
    #mar {
                background-color: #000000;
                color: #ffffff;
                width: 160px;
                height: 70px;
                margin: 10px;
                cursor: pointer;
                font-size: 1em;
            }
    

            .vid-wrapper {
                position: relative;
                background-color: #ffe6ac;
                padding: 0;
                background-size: cover;
                margin: 15px;
            }
            .vid-wrapper h3 {
                margin: 0px 15px 0 15px;
                font-size: 2em;
                font-weight: bold;
                line-height: 1.5;
                color: #000000;
            }
            
        .vid-wrapper p {
                color: #000000;
                line-height: 1.5;
                margin: 0px 15px 0 15px;
            }
        
        
                    
        .vid-container {
        
                background-image: url('../images/video.jpg');
                margin: 0; 
                background-size: cover;
                width: 700px; 
                height: 500px;
             
        
            }
        
        
        
        #vid {
                    background-color: #000000;
                    color: #ffffff;
                    width: 160px;
                    height: 70px;
                    margin: 10px;
                    cursor: pointer;
                    font-size: 1em;
                }



                .web-wrapper {
                    position: relative;
                    background-color: #ffe6ac;
                    padding: 0;
                    background-size: cover;
                    margin: 15px;
                }
                .web-wrapper h3 {
                    margin: 0px 15px 0 15px;
                    font-size: 2em;
                    font-weight: bold;
                    line-height: 1.5;
                    color: #000000;
                }
                
            .web-wrapper p {
                    color: #000000;
                    line-height: 1.5;
                    margin: 0px 15px 0 15px;
                }
            
            
                        
            .web-container {
            
                    background-image: url('../images/web.jpg');
                    margin: 0; 
                    background-size: cover;
                    width: 700px; 
                    height: 500px;
                 
            
                }
            
            
            
            #web {
                        background-color: #000000;
                        color: #ffffff;
                        width: 160px;
                        height: 70px;
                        margin: 10px;
                        cursor: pointer;
                        font-size: 1em;
                    }
                    
                    .pri-wrapper {
                        position: relative;
                        background-color: #ffe6ac;
                        padding: 0;
                        background-size: cover;
                        margin: 15px;
                    }
                    .pri-wrapper h3 {
                        margin: 0px 15px 0 15px;
                        font-size: 2em;
                        font-weight: bold;
                        line-height: 1.5;
                        color: #000000;
                    }
                    
                .pri-wrapper p {
                        color: #000000;
                        line-height: 1.5;
                        margin: 0px 15px 0 15px;
                    }
                
                
                            
                .pri-container {
                
                        background-image: url('../images/print.jpg');
                        margin: 0; 
                        background-size: cover;
                        width: 700px; 
                        height: 500px;
                     
                
                    }
                
                
                
                #pri {
                            background-color: #000000;
                            color: #ffffff;
                            width: 160px;
                            height: 70px;
                            margin: 10px;
                            cursor: pointer;
                            font-size: 1em;
                        }                    