html {
    background-color: #ffffff;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth; /* Enables smooth scrolling */
    color: rgb(0, 0, 0);
}

.body-wrapper {
    max-width: 760px;
    margin: 0 auto;
  }

.hdr-wrapper {
  background-color: #000000;
  padding: 15px 0 0 0;
  margin: 0;
  width: 100%;
  text-align: center;

}

.hdr-wrapper nav ul {
    list-style-type: none;

}

#logo {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 10px 0 0 0;
    width: 100px;
    height: 100px;
}

.hdr-container-1 {
  position: relative;
  background-color: #c68d00;
  margin: 0 15px 15px 15px;
  height: 170px;
  text-align: center;
  
}

.hdr-container-2 {
    position: relative;
    background-color: #000000;
    padding: 5px;
  }

.hdr-container-1 nav ul li a {
    color: #000000;
}
.hdr-container-2 nav ul li a {
    color: #c78c06;
}
.hdr-wrapper nav ul li a {
    text-decoration: none;
}
.hdr-wrapper nav ul li a:visited {
    text-decoration: none;
}
.hdr-wrapper nav ul li a:hover{
    color: #ffffff; /* or another hover color */
}

.hdr-container-1 li {
    height: 150px;
    display: flex;
    align-items: flex-end;   /* pushes content to the bottom */
    justify-content: center; /* centers horizontally */
    padding-bottom: 10px;
    font-size: 1.25em;
}
.hdr-container-2 li {
    margin: 10px;
    padding: 10px;
    font-size: 1.25em;
}

.search-box {
    display: flex;
    align-items: center;
    gap: 0px; /* space between input and button */
    margin: 10px;
  }
  
  #Search {
    flex: 1;                 /* allows it to grow */
    height: 30px;

  }
  
  #mag {
    height: 35px;
    width: 35px;
    padding: 2px;
    background-color: #000000;
    color: #c78c06;
    border: 1px solid #c78c06;
    cursor: pointer;
    font-size: 1.5em;
  }



@media screen and (min-width: 760px){
    .hdr-wrapper,
    .wel-wrapper,
    .abo-wrapper,
    .dig-wrapper,
    .mar-wrapper,
    .vid-wrapper,
    .web-wrapper,
    .pri-wrapper,
    .vis-wrapper,
    .joh-wrapper,
    .bob-wrapper,
    .con-wrapper,
    .ope-wrapper,
    .loc-wrapper {
       max-width: 760px;
    }
}

.wel-wrapper {

    position: relative;
    background-image: url('../images/main-banner.jpg');
    background-size: cover; 
    display: flex;
}
.wel-wrapper h1 {
margin: 0px 10px 0 10px;
    font-size: 4.5em;
    font-weight: bold;
    line-height: 1.5;
    color: #ffffff;
}

.wel-wrapper p {
    color: #ffffff;
    line-height: 1.5;
    margin: 0px 10px 0 10px;
}

.wel-container {
    background-color: #00000074;
    margin: 65px 0 65px 0; 
    padding:25px 10px 5px 6px;
}

#con {
    background-color: #c78c06;
    color: #000000;
    display: inline-block;
    padding: 30px;
    margin: 10px;
    cursor: pointer;
    font-size: 1.5em;
}

.abo-wrapper {
    position: relative;
    background-color: #ffe6ac;
    padding: 15px 0;
    background-size: cover;

}

.abo-container {
    position: relative;
    background-image: url('../images/about-us.jpg');
    margin: 0 15px; 
    height: 390px;
    width: calc(100%-30px);
    background-size: cover; 
    display: flex;
}

.abo-wrapper h2 {
    margin: 35px 15px 0 15px;
        font-size: 3em;
        font-weight: bold;
        line-height: 1;
        color: #000000;
    }
    
.abo-wrapper p {
        color: #000000;
        line-height: 1.5;
        margin: 0px 15px 0 15px;
    }





.our-h2 {
        margin: 35px 0 0 15px;
            font-size: 3em;
            font-weight: bold;
            line-height: 1.5;
            color: #000000;
            width: 760px;
        }
          




.dig-wrapper {
        position: relative;
        background-color: #ffe6ac;
        padding: 0;
        background-size: cover;
        margin: 0 15px 15px 15px;
    }
    .dig-wrapper h3 {
        margin: 0px 15px 0 15px;
        font-size: 2em;
        font-weight: bold;
        line-height: 1.5;
        color: #000000;
    }
    
.dig-wrapper p {
        color: #000000;
        line-height: 1.5;
        margin: 0px 15px 0 15px;
    }


            
.dig-container {

        background-image: url('../images/digital.jpg');
        margin: 0; 
        background-size: cover;
        width: calc(100%-30px); 
        height: 500px;
     

    }



#dig {
            background-color: #000000;
            color: #ffffff;
            display: inline-block;
            padding: 30px;
            margin: 10px;
            cursor: pointer;
            font-size: 1.5em;

        }




        .mar-wrapper {
            position: relative;
            background-color: #ffe6ac;
            padding: 0;
            background-size: cover;
            margin: 15px;
        }
        .mar-wrapper h3 {
            margin: 0px 15px 0 15px;
            font-size: 2em;
            font-weight: bold;
            line-height: 1.5;
            color: #000000;
        }
        
    .mar-wrapper p {
            color: #000000;
            line-height: 1.5;
            margin: 0px 15px 0 15px;
        }
    
    
                
    .mar-container {
    
            background-image: url('../images/marketing.jpg');
            margin: 0; 
            background-size: cover;
            width: calc(100%-30px); 
            height: 500px;
         
    
        }
    
    
    
    #mar {
                background-color: #000000;
                color: #ffffff;
                display: inline-block;
                padding: 30px;
                margin: 10px;
                cursor: pointer;
                font-size: 1.5em;
            }
    

            .vid-wrapper {
                position: relative;
                background-color: #ffe6ac;
                padding: 0;
                background-size: cover;
                margin: 15px;
            }
            .vid-wrapper h3 {
                margin: 0px 15px 0 15px;
                font-size: 2em;
                font-weight: bold;
                line-height: 1.5;
                color: #000000;
            }
            
        .vid-wrapper p {
                color: #000000;
                line-height: 1.5;
                margin: 0px 15px 0 15px;
            }
        
        
                    
        .vid-container {
        
                background-image: url('../images/video.jpg');
                margin: 0; 
                background-size: cover;
                width: calc(100%-30px); 
                height: 500px;
             
        
            }
        
        
        
        #vid {
                    background-color: #000000;
                    color: #ffffff;
                    display: inline-block;
                    padding: 30px;
                    margin: 10px;
                    cursor: pointer;
                    font-size: 1.5em;
                }



                .web-wrapper {
                    position: relative;
                    background-color: #ffe6ac;
                    padding: 0;
                    background-size: cover;
                    margin: 15px;
                }
                .web-wrapper h3 {
                    margin: 0px 15px 0 15px;
                    font-size: 2em;
                    font-weight: bold;
                    line-height: 1.5;
                    color: #000000;
                }
                
            .web-wrapper p {
                    color: #000000;
                    line-height: 1.5;
                    margin: 0px 15px 0 15px;
                }
            
            
                        
            .web-container {
            
                    background-image: url('../images/web.jpg');
                    margin: 0; 
                    background-size: cover;
                    width: calc(100%-30px);
                    height: 500px;
                 
            
                }
            
            
            
            #web {
                        background-color: #000000;
                        color: #ffffff;
                        display: inline-block;
                        padding: 30px;
                        margin: 10px;
                        cursor: pointer;
                        font-size: 1.5em;
                    }
                    
                    .pri-wrapper {
                        position: relative;
                        background-color: #ffe6ac;
                        padding: 0;
                        background-size: cover;
                        margin: 15px;
                    }
                    .pri-wrapper h3 {
                        margin: 0px 15px 0 15px;
                        font-size: 2em;
                        font-weight: bold;
                        line-height: 1.5;
                        color: #000000;
                    }
                    
                .pri-wrapper p {
                        color: #000000;
                        line-height: 1.5;
                        margin: 0px 15px 0 15px;
                    }
                
                
                            
                .pri-container {
                
                        background-image: url('../images/print.jpg');
                        margin: 0; 
                        background-size: cover;
                        width: calc(100%-30px); 
                        height: 500px;
                     
                
                    }
                
                
                
                #pri {
                            background-color: #000000;
                            color: #ffffff;
                            display: inline-block;
                            padding: 30px;
                            margin: 10px;
                            cursor: pointer;
                            font-size: 1.5em;
                        }
                        
                        



                        .vis-wrapper {
                            position: relative;
                            background-image: url('../images/vision.jpg');
                            padding: 35px 0 0 0;
                            background-size: cover;
                            margin: 0;
                        }
                        .vis-wrapper h3 {
                            margin: 0px 15px 0 15px;
                            font-size: 2em;
                            font-weight: bold;
                            line-height: 1.5;
                            color: #ffffff;
                        }
                        
                    .vis-wrapper p {
                            color: #ffffff;
                            line-height: 1.5;
                            margin: 0px 15px 0 15px;
                        }
  
                    
                    #vis {
                                background-color: #07092a;
                                color: #ffffff;
                                display: inline-block;
                                padding: 30px;
                                margin: 10px;
                                cursor: pointer;
                                border: #c78c06 1.5px solid;
                                font-size: 1.5em;
                            }    

.tea-h2 {
        margin: 25px 0 0 15px;
            font-size: 3em;
            font-weight: bold;
            line-height: 1.5;
            color: #000000;
            width: 760px;
        }


        .joh-wrapper {
            position: relative;
            background-color: #ffe6ac;
            padding: 0 0 35px 0;
            margin: 0 15px;
            background-size: cover;

        }
        .joh-container {

            background-image: url('../images/john.jpg');
            margin: 0; 
            background-size: cover;
            width: calc(100%-30px); 
            height: 500px;
         
    
        }
.joh-wrapper h3 {
        margin: 0 0 0 15px;
            font-size: 2em;
            font-weight: bold;
            line-height: 1em;
            color: #000000;
            width: 760px;
        }
.joh-wrapper h4 {
        margin: 5px 0 0 15px;
            font-size: 1em;
            font-weight: bold;
            line-height: 1em;
            color: #000000;
            width: 760px;
        }

.joh-wrapper p {
            color: #000000;
            line-height: 1.5;
            margin: 15px;
        }






.bob-wrapper {
    position: relative;
    background-color: #ffe6ac;
    margin: 15px 15px 0 15px;
    padding: 0 0 35px 0;
    background-size: cover;
        }
.bob-container {

            background-image: url('../images/bob.jpg');
            margin: 0; 
            background-size: cover;
            position: relative;
            background-color: #ffe6ac;

            background-size: cover; 
            height: 500px;
         
    
        }
.bob-wrapper h3 {
    margin: 0 0 0 15px;
    font-size: 2em;
    font-weight: bold;
    line-height: 1em;
    color: #000000;
    width: 760px;
        }
.bob-wrapper h4 {
    margin: 5px 0 0 15px;
    font-size: 1em;
    font-weight: bold;
    line-height: 1em;
    color: #000000;
    width: 760px;
        }

.bob-wrapper p {
            color: #000000;
            line-height: 1.5;
            margin: 0px 15px ;
        }


        .hr-line {
            border: none;
            height: 2px;
            background-color: #c78c06; /* your theme color */
            width: calc (100% - 30px);               /* or a set width like 200px */
            margin: 0 15px 15px 15px;
          }


        .contact-form {
            border: 2px solid #000; /* Black border */
            padding: 20px;
        }
        
        
        .text-box {
            width: 100%;
            max-width: 100%;
            height: 2rem;
            font-size: 1.5rem;
        }
        
        
        #name {
            text-transform: capitalize; /* Capitalizes first letter */
        }
        
        #email {
            text-transform: lowercase; /* Converts text to lowercase */
        }
        
        
        #message {
            height: 7rem;
            line-height: 1.5;
            padding-top: 0.1rem;
            resize: none; /* Disables resizing */
        }
        
        
        label {
            font-size: 1rem;
            font-weight: bold;
        }
        
        
     
        



.con-wrapper h2 {
    margin: 35px 0 0 0;
        font-size: 3em;
        font-weight: bold;
        line-height: 1.5;
        color: #000000;
        width: 760px;
    }

.con-wrapper h3 {
        margin: 25px 0 25px 0;
            font-size: 2em;
            font-weight: bold;
            line-height: 1em;
            color: #000000;
            width: 760px;
        }

.con-wrapper {
            position: relative;
            margin: 0 15px;
            background-size: cover;

        }

        #con2 {
            background-color: #000000;
            color: #c78c06;
            display: inline-block;
            padding: 5px;
            margin: 10px 0 0 0;
            cursor: pointer;
            font-size: 1.5em;
        }    


.ope-wrapper {
            position: relative;
            padding: 15px;
            background-size: cover;
            margin: 0;
        }
.ope-wrapper h3 {
            margin: 15px 0 0 0;
                font-size: 3em;
                font-weight: bold;
                line-height: 1.5;
                color: #000000;
                width: 760px;
            }
              

.table {
    border-collapse: collapse;
    background-color: #ffffff;
    border-radius: 5px;
    width: 100%;
}

.table th, td {
    border: 2px solid #000;
    padding: 10px;
    text-align: left;
  }
  
  .table th {
    background-color: #ffe6ac;
    font-weight: normal;
    text-align: center;
  }


.loc-wrapper {
            position: relative;
            margin: 15px;
            background-size: cover;
            width: calc(100%-30px);

        }
.loc-wrapper h3 {

        font-size: 3em;
        font-weight: bold;
        line-height: 1.5;
        color: #000000;
        width: 760px;
    } 